.move-icon {
  display: none;
  cursor: pointer;
}

.draggable-item:hover .move-icon {
  display: block;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
